#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.primary-button {
    width: 100%;
    height: 6.4rem;

    border-radius: 2rem;
    border: none;

    cursor: pointer;
    background:#3cdc8c;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 6.4rem;
    color: white;

    transition: background-clor 0.2s;
}

.primary-button:hover {
    background: #36cf82;
}