#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.sobre {
    width: 110rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #D3E2E5;

    border-radius: 2rem;

    overflow: hidden;

    padding: 8rem;
}

main h1 {
    font-weight: bold;
    line-height: .88;
    font-size: 6rem;

    margin-bottom: 10rem;
    color: #47D691;
}

main p {
    color: #4D6F80;
}

p + p {
    margin-top: 3rem;
}

h3 {
    margin-top: 6rem;
    color: #4D6F80;
    font-size: 3.8rem;
}

main h3 strong {
    color: #47D691;
}

a {
    width: 20rem;
    height: 6.4rem;

    border: none;
    background: #47D691;
    border-radius: 1.6rem;
    cursor: pointer;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background-color 0.2s;

    margin-top: 6rem;
}

a:hover {
    background: #2baa6a;
}